{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

<div class="container-fluid post-body">
    <div class="row justify-content-center">
        <h3 class="text-center action-header">Edit Post</h3>
        <div class="col-lg-6">
            <form method="POST" enctype="multipart/form-data" class="p-4 form-outer rounded">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="{{ form.title.id_for_label }}" class="form-label">Title:</label>
                    {% render_field form.title class="form-input form-control" %}
                </div>
                <div class="mb-3">
                    <label for="{{ form.content.id_for_label }}" class="form-label">Post:</label>
                    {% render_field form.content class="form-control form-input" %}
                </div>
                <div class="mb-3">
                    <label for="{{ form.image1.id_for_label }}" class="form-label">Image:</label>
                    {% render_field form.image1 class="form-control-file" %}
                </div>
                <div class="mb-3">
                    <label for="{{ form.image2.id_for_label }}" class="form-label">Image:</label>
                    {% render_field form.image2 class="form-control-file" %}
                </div>
                <div class="mb-3">
                    <label for="{{ form.category.id_for_label }}" class="form-label">Category:</label>
                    {% render_field form.category class="form-input form-control" %}
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>

{% endblock content%}