{%block content %}

<div class="col-12 mt-3">
    <div class="row">
        {% for post in posts %}
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 mb-4">
            <div class="card">
                <div class="image-container">
                    {% if 'placeholder' in post.image1.url %}
                    <img src="{{ defaultImage.url }}" class="card-img-top" alt="Post Image" />
                    {% else %}
                    <img src="{{ post.image1.url }}" class="card-img-top" alt="Post Image" />
                    {% endif %}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.user_id }}</p>
                    <a href="{{ post.url }}" class="btn btn-primary">Read More</a>
                    {% if post.user_id.username == user.username %}
                    <a href="{% url 'editPost' post.post_id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'deletePost' post.post_id %}" class="btn btn-primary">Delete</a>
                    {% endif %}

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}