{% extends 'base.html' %}

{% block content %}
<h1>{{ object.title }}</h1>
<p>{{ object.content }}</p>

<img src="{{ object.image1.url }}" alt="{{ object.title }}">
<img src="{{ object.image2.url }}" alt="{{ object.title }}">
<p>Category: "{{ object.category }}"</p>



<a href="{% url 'editPost' object.post_id %}">Edit</a>
<a href="{% url 'deletePost' object.post_id %}">Delete</a>

<p>Likes: {{ likes }}</p>
{% if user_has_liked %}
<form method="POST" action="{% url 'unlikePost' object.post_id %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-link"><i class="fas fa-thumbs-down"></i></button>
</form>
{% else %}
<form method="POST" action="{% url 'likePost' object.post_id %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-link"><i class="fas fa-thumbs-up"></i></button>
</form>
{% endif %}


<h2>Comments: ({{ comments|length }})</h2>
{% for comment in comments %}
<div class="card mb-3">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div>
            <strong>{{ comment.user_id.username }}</strong>
            <small class="text-muted">{{ comment.timestamp }}</small>
        </div>
        {% if comment.user_id.username == user.username %}
                    <div class="dropdown">
                        <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="{% url 'editComment' comment.comment_id %}">Edit</a></li>
                            <li><a class="dropdown-item" href="{% url 'deleteComment' comment.comment_id %}">Delete</a></li>
                       
                        </ul>
                    </div>
        {% endif %}
    </div>
    <div class="card-body">
        <p class="card-text">{{ comment.comment }}</p>
    </div>
</div>
{% empty %}
<p>No comments yet.</p>
{% endfor %}

<h2>Add a comment:</h2>
<form method="POST" action="{% url 'addComment' object.post_id %}">
    {% csrf_token %}
    <div class="form-group">
        <textarea name="comment" class="form-control" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}