{% extends 'base.html' %}

{% block content %}
<div class="container-fluid  competition-detailed-view-background">
    <div class="row justify-content-between mt-4">
        <div class="col-auto">
            {% if competition_user %}
            <a href="{% url 'enterCompetition' object.competition_id %}" class="btn btn-secondary">Unregister for Competition</a>
            {% else %}
            <a href="{% url 'enterCompetition' object.competition_id %}" class="btn btn-success">Enter Competition</a>
            {% endif %}
            {% if object.creator.username == user.username %}
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Actions
                </button>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'editCompetition' object.competition_id %}" class="dropdown-item">Edit Competition Details</a></li>
                    <li><a href="{% url 'deleteCompetition' object.competition_id %}" class="dropdown-item">Remove Competition</a></li>
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-12 col-md-8">
            <div class="card card-outer">
                <img src="{{ object.featuredImage.url }}" class="card-img-top" alt="{{ object.title }}" />
                <div class="card-body">
                    <h1 class="card-title">{{ object.title }}</h1>
                    <p class="card-text">{{ object.description }}</p>
                    <p>Category: {{ object.category }}</p>
                    <p>Date: {{ object.date }}</p>
                    <p>Location: {{ object.location }}</p>
                    <p>Organizer: {{object.creator.first_name}} {{object.creator.last_name}}. Contact: {{object.creator.email}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-12 col-md-8">
            <h2 class="action-header">Registered Users</h2>
            {% if registered_users %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in registered_users %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ user.username }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No users have registered for this competition yet.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
