{% extends 'base.html' %}

{% block content %}

{% if messages %}

{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
    {{ message }}
</div>
{% endfor %}

{% endif %}
<h1>{{ object.title }}</h1>
<p>{{ object.content }}</p>

<img src="{{ object.featuredImage.url }}" alt="{{ object.title }}">
<p>Category: {{ object.category }}</p>
<p>Title: {{ object.title }}</p>
<p>description: {{ object.description }}</p>
<p>date: {{ object.date }}</p>
<p>location: {{ object.location }}</p>

{% if competition_user %}
<a href="{% url 'enterCompetition' object.competition_id %}" class="btn btn-primary text-center d-block">Unregister
    Competition</a>
{% else %}
<a href="{% url 'enterCompetition' object.competition_id %}" class="btn btn-primary text-center d-block">Enter
    Competition</a>
{% endif %}



{% endblock %}