{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container-fluid delete-post-body">
    <div class="row justify-content-center">
        <h3 class="text-center action-header">Delete Competition</h3>
        <div class="col-lg-6">
            <form method="POST" class="p-4 form-outer rounded">
                {% csrf_token %}
                <p class="text-center description-text-white">Are you sure you want to delete the competition "{{ object.title }}"?</p>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-danger" style="margin-right:8px">Yes, delete</button>
                    <a href="{% url 'index' %}" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
