{% extends 'base.html' %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label for="{{ form.group_name.id_for_label }}" class="form-label">Group Name</label>
        <input type="text" class="form-control" id="{{ form.group_name.id_for_label }}" name="{{ form.group_name.name }}">
    </div>
    <div class="mb-3">
        <label for="{{ form.description.id_for_label }}" class="form-label">Description</label>
        <textarea class="form-control" id="{{ form.description.id_for_label }}"
            name="{{ form.description.name }}"></textarea>
    </div>
    <div class="mb-3">
        <label for="{{ form.featuredImage.id_for_label }}" class="form-label">Featured Image</label>
        <input type="file" class="form-control-file" id="{{ form.featuredImage.id_for_label }}"
            name="{{ form.featuredImage.name }}">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock content%}