{% extends "base.html" %}


{% block content %}

{% if messages %}

{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
    {{ message }}
</div>
{% endfor %}

{% endif %}

<div class="container-fluid">
    <div class="container">
        {% if group_user %}
        <a href="{% url 'enterGroup' object.group_id %}" class="btn btn-primary">Leave Group</a>
        <a href="{% url 'addGroupPost' object.group_id %}"><button type="button" class="btn btn-primary">Post in
                Group</button></a>
        {% else %}
        <a href="{% url 'enterGroup' object.group_id %}" class="btn btn-primary">Join Group</a>
        {% endif %}
        {% if object.creator.username == user.username %}
        <a href="{% url 'editGroup' object.group_id %}" class="btn btn-primary">Edit Group Details</a>
        <a href="{% url 'deleteGroup' object.group_id %}" class="btn btn-primary">Remove Group</a>
        {% endif %}
    </div>

    <div class="row">
        {% include 'Posts/post_list.html' %}

    </div>


    <div class="container">
        <h2>Group Members</h2>
        <ul>
            {% for member in group_member %}
            <li>{{ member.username }}</li>
            {% empty %}
            <li>No members yet.</li>
            {% endfor %}
        </ul>
    </div>


</div>




{% endblock %}