{% extends "base.html" %}


{% block content %}

{% if messages %}

{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
    {{ message }}
</div>
{% endfor %}

{% endif %}

<div class="container-fluid">
    <div class="container">
        <a href="{% url 'addPost' %}"></a><button type="button" class="btn btn-primary">Add Post</button></a>
        <a href="{% url 'addPost' %}"><button type="button" class="btn btn-primary">View My Posts</button></a>
    </div>
    <div class="row">

        {% include 'Posts/post_list.html' %}

        
    </div>




</div>




{% endblock %}